<?xml version="1.0" encoding="utf-8"?><!--suppress XmlUnboundNsPrefix -->
<plugin id="cordova-device-info" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cordova-device-info</name>
    <author>Vlad Kalyuzhnyu</author>
    <description>Simple plugin that provides info about Android device</description>
    <keywords>cordova,plugin,android,device,info</keywords>
    <repo>https://github.com/androidovshchik/cordova-device-info.git</repo>
    <issue>https://github.com/androidovshchik/cordova-device-info/issues</issue>

    <js-module name="DeviceInfo" src="www/device-info.js">
        <clobbers target="DeviceInfo" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DeviceInfoPlugin">
                <param name="android-package" value="ru.androidovshchik.DeviceInfoPlugin" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <framework src="com.github.nisrulz:easydeviceinfo-base:2.4.1" />
        <source-file src="src/android/ru/androidovshchik/DeviceInfoPlugin.java"
            target-dir="src/ru/androidovshchik" />
        <source-file src="src/android/ru/androidovshchik/ScreenshotObserver.java"
            target-dir="src/ru/androidovshchik" />
    </platform>

</plugin>